* {
    /* Override the default browser spacing */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Azeret Mono", monospace;
    background-color: cornsilk;
  }
  .navbar {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    z-index: 9999;
  }
  .navbar__brand {
    width: 100px;
  }

  
  .brand__logo {
    width: 100%;
  }
  
  .navbar__nav__items {
    display: flex;
  }
  .container {
    padding: 0px 20px;
  }
  /* .hero__container{
    position: relative;
    width: 100%;
    
  } */
  
  .hero__image__container {
    position: relative;
    width: 100%;
  }
  .hero__image {
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 1;
    border-radius: 10px;
  }
  .hero__image__shape {
    position: absolute;
  }
  .hero__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__text {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: royalblue;
    font-weight: 900;
  }
  
  .button__primary {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: 0.5s;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
    background-size: 200% auto;
    display: block;
  }
  .button__primary:hover {
    /* background: linear-gradient(#ff512f 0%, #dd2476 51%, #ff512f 100%); */
  
    background-position: right center;
  }
  
  .FOOD__LIST__CONTAINER {
    position: relative;
    margin: 5rem 0;
  }
  .food__menu__card__list {
    width: 100%;
  }
  .food__menu__card__image {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
  }
  .food__menu__card__detail {
    padding: 1rem;
    text-align: left;
    color: black;
  }
  .food__menu__card__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(82, 112, 177);
    font-weight: 800;
  }
  .restaurant__list__image__container {
    margin-top: 3rem;
  }
  .restaurant__list__row1 {
    display: flex;
    align-items: baseline;
  }
  .restaurant__list__row2 {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
  }
  .restaurant1,
  .restaurant3 {
    border-radius: 5px;
    margin: 0 5px;
    width: 150px;
    height: 80px;
  }
  .restaurant2,
  .restaurant4 {
    border-radius: 5px;
    margin: 0 5px;
    width: 200px;
    height: 100px;
  }
  .text-x3{
    font-size: 1.5rem;
line-height: 2rem;
color: royalblue;
font-weight: 900;
}
  .location__container {
    margin-top: 3rem;
    width: 100%;
    padding: 15px;
    
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content:center ;
  }
  
  .location__input__field {
    display: flex;
    align-items: center;
  }
  
  .location__input {
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
    
  }
  
  .location__input::placeholder {
    color: #bdbcbc;
  }
  .button__secondary {
    background-image: linear-gradient(#5a1a11 100%);
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
  
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
    background-size: 100% auto;
    display: block;
  }
  
  .text-xl {
    
    font-weight: 700;
    color: #1d3557;
  }
  ._2tnu-{
    background: #64544b;
    padding: 20px 20px;
    width: 100%;
margin-top: 1rem;
margin-bottom: 1rem;
margin-right: 0.5rem;
display: flex;
flex-wrap: wrap;
flex-basis: 25%;
    /* box-sizing: inherit; */
  }

._2dYjq {
    margin-bottom: 20px;
    margin-left: 5rem;
}

._3fted {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    color: aliceblue;
    margin-left: 5rem;
}
._12i5X {
    font-size: 15px;
    width: 200px;
    margin-top: 10px;
    color: #e0cbc1;
    line-height: 1.3;
     margin-left: 5rem;
}
  footer {
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
   /* background-color: rgb(212, 29, 84); */
  }
  
  footer > img {
    /* position: relative; */
    width: 200px;
    filter: brightness(0) invert(1);
  /* margin-right: 40rem; */
  }
  
  footer > ul {
    /* position: absolute; */
    margin-top: 1rem;
    margin-left: 2rem;
    color: #fff;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }
  
  
  @media (min-width: 1024px) {
    .navbar {
      padding: 0 3rem;
    }
    .button__primary {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
    .hero__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
    .hero__image {
      margin-top: 1.5rem;
    }
    .hero__text {
      font-size: 1.8rem;
      line-height: 1;
    }
    .container {
      padding: 0px 180px;
    }
  
    .FOOD__LIST__CONTAINER {
      position: relative;
      margin: 5rem 0;
    }
    .food__menu__card__list {
      width: 50%;
      display: flex;
       flex-direction: row-reverse;
      /* flex-wrap: wrap; */
      justify-content: space-around;
      padding-top: 2rem;
     
    }
    .food__menu__card {
      /* flex-basis: 40%; */
      background-color: thistle;
      border-radius: 6px;
      
    }
    .food__menu__card__list__2{
        width: 50%;
        display: flex;
        
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
       
    }
    .food__menu__card__2 {
        /* flex-basis: 40%; */
        background-color: thistle;
        border-radius: 6px;
        
      
    }
    .food__menu__card__list__3{
        width: 50%;
        display: flex;
        
        bottom: 0%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
       
    }
    .food__menu__card__3 {
        /* flex-basis: 40%; */
        background-color: thistle;
        border-radius: 6px;
        
      }
    .food__list__container__diagonal {
      background: linear-gradient(#ff512f 0%, #dd2476 51%, #ff512f 100%);
      position: absolute;
      left: 0px;
      top: 0px;
      transform: skewY(-5deg);
      height: 100%;
      width: 100%;
      z-index: -2;
    }
    .restaurant__list__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .restaurant__list__row1 {
      justify-content: center;
    }
    .restaurant__list__row2 {
      margin-top: 3px;
  
      align-items: flex-start;
      justify-content: center;
    }
    .location__container {
      margin-top: 3rem;
      width: 100%;
      padding: 15px;
      padding-left: 10rem;
      margin-right: auto;
      margin-left: 10rem;
      align-items: center;
      justify-content:center ;
    }
    .location__input {
      border: 1px solid #ee89a0;
      background-color: #fcedf0;
      color: #1d3557;
      font-weight: 700;
      padding: 0.5rem;
      margin-right: 10rem;
      border-radius: 4px;
      width:100% ;
      
    }
    .text-xl {
      font-size: 2.5rem;
      font-weight: 700;
      color: #1d3557;
    }
   .text-x2{
       font-size: 2rem;
       font-weight: 700;
       color: #dd2476 ;
   }
    .text-x3{
        font-size: 1.5rem;
    line-height: 2rem;
    color: royalblue;
    font-weight: 900;
  }
  footer {
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    /* background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    ); */
   background-color: #cb202d;
  }
  
  footer > img {
    position: relative;
    width: 200px;
    /* filter: brightness(0) invert(1); */
  margin-right: 40rem;
  }
  
  footer > ul {
    position: absolute;
    margin-top: 1rem;
    margin-left: 2rem;
    color: #fff;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }

  }
  